


.disabled{
 pointer-events: none;
 background-color:  #568c9cb8;;
}
*{
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1rem;
  color: #dcf7ffc0;
}

html{
  font-family:Verdana, Geneva, Tahoma, sans-serif;
font-size: 1rem;
}

/* .App {
  width: 55rem;
  margin: 0 auto;
  height: 100vh;

  margin-top: -10rem;
} */

/* body{
  position: absolute;
  top: 0;
  left: 0;
} */

#root{
  width: 100vw;
  height: 100vh;
  /* position: absolute;
  top: 0;
  left: 0; */
}

.nav {
  width: 100vw;
  /* position: absolute; */
  top: 0;
  left: 0;
  height: 3rem;
  background-color: rgba(0, 0, 0, 0.25);
  display: flex;
  align-items: center;
  justify-content: space-around;
font-family:Verdana, Geneva, Tahoma, sans-serif;
font-size: 1rem;

}

.questionList {
  height: 25rem;
  width: 70rem;
  background-color: red;
  margin: 18vh auto;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  border-radius: 1rem;
  background-color: rgba(0, 0, 0, 0.25);
}

.main {
  height: 100vh;
  
}

.footer{
  position: absolute;
  bottom: 1rem;
}

.themes {
  font-family:Verdana, Geneva, Tahoma, sans-serif;
font-size: 1rem;
  display: flex;
  height: 5rem;
  /* border: 1px solid black; */
  justify-content: space-between;
  align-items: center;
  margin: 0 3rem;
  
}

.theme {
  font-family:Verdana, Geneva, Tahoma, sans-serif;
font-size: 1.5rem;
  display: block;
}

.var {
  display: flex;
  justify-content: space-between; 
  height: 40%;
  width: 35rem;
}

button {
  border: none;
  background-color: #007396;
  outline: none;
  width: 7rem;
  height: 2rem;
  border-radius: 0.2rem;
  color: #dcf7ffc0;
  cursor: pointer;
  transition: transform 0.2s;
  margin-left: 1rem;
}

button:hover{
  transform: scale(1.1);
}



body{
  background-image: linear-gradient(to left bottom, #969696, #91909f, #8a8ba8, #8086b2, #7282bc, #5e83bf, #4385c0, #1286c0, #0089b3, #008aa4, #168a93, #378984);
}

.modals {
  background-color: rgba(42, 42, 42, 0.84);
  z-index: 100;
  position: absolute;
  top: 25vh;
  left: 25vw;
  width: 50vw;
  height: 50vh;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.background{
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(28, 28, 28, 0.551)

}



.radio:checked {
  accent-color: rgb(47, 47, 47);
}


.container{
  display: flex;
  height: 90vh;
  justify-content: center;
  align-items: center;
  width: 70vw;
 
  margin: 0 auto;
}

.contAuth{
  
position: absolute;
top: 1rem;
left: 1rem;
  
}

.contBut {  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 25rem;
  position: relative;
  border-radius: 1rem;
  background-color: rgba(0, 0, 0, 0.25);
}

.registration{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.regInp {
  margin-bottom: 1rem;
  background: rgba(0, 0, 0, 0.23);
  border: none;
  outline: none;
height: 2rem;
width: 35%;
padding-left: 1rem;
border-radius: 0.3rem;
}

img {
  /* width: 20rem; */
  object-fit: cover;
  width: 100%;
  height: 100%;
  
}

.img{
  margin: 1rem;
  overflow: hidden;
  width: 20rem;
  border-radius: 1rem;
}

.buttonModals{
  position: absolute;
  top: 1rem;
  left: 1rem;
}

.title{
  margin: 1rem;
  text-align: center;
}

.formOnSubmit{
 display: flex;
 flex-wrap: wrap;
 align-items: center;
 justify-content: center;
}


.radio{
  margin: 1rem;
}
.modalsButton {
  position: absolute;
  top: 1rem;
  left: 1rem;
}

.queTit {
  margin: 2rem;
  font-size: 1.1rem;
}

.queRadio{
  margin: 1rem;
  
}