

.disabled{
 pointer-events: none;
 background-color:grey;
}

html{
  font-size: 1rem;
}

/* .App {
  width: 55rem;
  margin: 0 auto;
  height: 100vh;

  margin-top: -10rem;
} */

/* body{
  position: absolute;
  top: 0;
  left: 0;
} */

#root{
  width: 100vw;
  height: 100vh;
  /* position: absolute;
  top: 0;
  left: 0; */
}

.nav {
  width: 100vw;
  /* position: absolute; */
  top: 0;
  left: 0;
  height: 3rem;
  background-color: red;
  display: flex;
  align-items: center;
  justify-content: space-around;

}

.questionList {
  height: 25rem;
  width: 55rem;
  background-color: red;
  margin: 18vh auto;
}

.main {
  height: 100vh;
  
}

.footer{
  position: absolute;
  bottom: 1rem;
}

.themes {
  display: flex;
  height: 5rem;
  border
}

.theme {
  display: block;
}